@model web.Models.Listing

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Oglas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfEntry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REGroup.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REGroup.REType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REGroup.REType.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LType.Type)
        </dd>
    </dl>
</div>
<div>
    
    @if(@ViewBag.UserId != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a>
        <span> | </span>
        <a asp-controller="Admin" asp-action="Details" asp-route-id="@ViewBag.UserId">Nazaj</a>
    }else
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a>
        <span> | </span>
        <a asp-action="Index">Nazaj</a>
    }
</div>
