@model IEnumerable<web.Models.Listing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    @* Search filter *@
    <h2 style="margin-top: 50px; margin-bottom:50px ">Iskanje Nepremičnin</h2>

    <div class="search-filter">
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="inlineFormCustomSelect">VRSTA NEPREMIČNINE</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Hiša</option>
                    <option value="1">Posest</option>
                    <option value="2">Stanovanje</option>
                    <option value="3">Garaža</option>
                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="inlineFormCustomSelect">VRSTA PONUDBE</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Prodaja</option>
                    <option value="1">Oddaja</option>

                </select>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="inlineFormCustomSelect">REGIJA</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Pomurska regija</option>
                    <option value="1">Podravska regija</option>
                    <option value="1">Koroška regija</option>
                    <option value="1">Savinjska regija</option>
                    <option value="1">Zasavska regija</option>
                    <option value="1">Posavska regija</option>
                    <option value="1"> Jugovzhodna Slovenija</option>
                    <option value="1"> Osrednjeslovenska regija</option>
                    <option value="1">Gorenjska regija</option>
                    <option value="1">Primorsko-notranjska regija</option>
                    <option value="1"> Goriška regija</option>
                    <option value="1"> Obalno-kraška regija</option>

                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="inlineFormCustomSelect">VELIKOST</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Do 50 &#x33A1</option>
                    <option value="1">100 - 150 &#x33A1</option>
                    <option value="1">150 - 200 &#x33A1</option>
                    <option value="1">200 in več &#x33A1</option>
                </select>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding:10px">
            <div class="filter-row">
                <label class="mr-sm-2" for="inlineFormCustomSelect">LETO</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Do 1949</option>
                    <option value="1">1950 - 1959 </option>
                    <option value="1">1960 - 1969 </option>
                    <option value="1">1970 - 1979 </option>
                    <option value="1">1980 - 1989 </option>
                    <option value="1">1990 - 1999 </option>
                    <option value="1">2000 - 2009 </option>
                    <option value="1">2010 - 2018 </option>

                </select>
            </div>
            <div class="filter-row">
                <label class="mr-sm-2" for="inlineFormCustomSelect">CENA</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Do 200.000 &euro;</option>
                    <option value="1">200.000 - 400.000 &euro;</option>
                    <option value="1">400.000 - 600.000 &euro;</option>

                </select>
            </div>

        </div>
        <div style="width: 70%; padding: 10px;">
            <button type="button" class="btn btn-primary">IŠČI NEPREMIČNINE</button>
        </div>

    </div>

    <h2 style="margin-top: 100px;">Nazadnje Dodane</h2>
    <div class="recentlyAddedMain">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/contents/house.png">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.REType.Type) @Html.DisplayFor(modelItem =>
                                                                                              item.LType.Type)</h5>
                    <p class="card-text"><span>Velikost:</span> @Html.DisplayFor(modelItem =>
                                                                   item.Size) &#x33A1</p>
                    <p class="card-text"><span>Naslov:</span> @Html.DisplayFor(modelItem => item.Address)</p>
                    <p class="card-text"><span>Cena:</span> @Html.DisplayFor(modelItem => item.Price) €</p>

                    <a href="#" class="btn btn-primary">Odpri oglas</a>
                </div>
            </div>
        }
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/contents/house.png">
            <div class="card-body">
                <h5 class="card-title">ola</h5>
                <p class="card-text"><span>Velikost:</span> 100 &#x33A1</p>
                <p class="card-text"><span>Naslov:</span> sdsadads</p>
                <p class="card-text"><span>Cena:</span> 500 €</p>

                <a href="#" class="btn btn-primary">Odpri oglas</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/contents/house.png">
            <div class="card-body">
                <h5 class="card-title">ola</h5>
                <p class="card-text"><span>Velikost:</span> 100 &#x33A1</p>
                <p class="card-text"><span>Naslov:</span> sdsadads</p>
                <p class="card-text"><span>Cena:</span> 500 €</p>

                <a href="#" class="btn btn-primary">Odpri oglas</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/contents/house.png">
            <div class="card-body">
                <h5 class="card-title">ola</h5>
                <p class="card-text"><span>Velikost:</span> 100 &#x33A1</p>
                <p class="card-text"><span>Naslov:</span> sdsadads</p>
                <p class="card-text"><span>Cena:</span> 500 €</p>

                <a href="#" class="btn btn-primary">Odpri oglas</a>
            </div>
        </div>
    </div>
</div>