@model IEnumerable<web.Models.Listing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    @* Search filter *@
    <partial name="_FilterPartial" />


    <h2 style="margin-top: 100px;">Nazadnje Dodane</h2>
    <div class="recentlyAddedMain">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageLink)">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.REGroup.Group) @Html.DisplayFor(modelItem =>
                                                                                              item.LType.Type)</h5>
                    <p class="card-text"><span>Velikost:</span> @Html.DisplayFor(modelItem =>
                                                                   item.Size) &#x33A1</p>
                    <p class="card-text"><span>Naslov:</span> @Html.DisplayFor(modelItem => item.Address)</p>
                    <p class="card-text"><span>Cena:</span> @Html.DisplayFor(modelItem => item.Price) €</p>

                    <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Listings" asp-action="Details">Odpri
                        oglas</a>
                </div>
            </div>
        }
        @* <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/contents/house.png">
            <div class="card-body">
            <h5 class="card-title">ola</h5>
            <p class="card-text"><span>Velikost:</span> 100 &#x33A1</p>
            <p class="card-text"><span>Naslov:</span> sdsadads</p>
            <p class="card-text"><span>Cena:</span> 500 €</p>

            <a href="#" class="btn btn-primary">Odpri oglas</a>
            </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/contents/house.png">
            <div class="card-body">
            <h5 class="card-title">ola</h5>
            <p class="card-text"><span>Velikost:</span> 100 &#x33A1</p>
            <p class="card-text"><span>Naslov:</span> sdsadads</p>
            <p class="card-text"><span>Cena:</span> 500 €</p>

            <a href="#" class="btn btn-primary">Odpri oglas</a>
            </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/contents/house.png">
            <div class="card-body">
            <h5 class="card-title">ola</h5>
            <p class="card-text"><span>Velikost:</span> 100 &#x33A1</p>
            <p class="card-text"><span>Naslov:</span> sdsadads</p>
            <p class="card-text"><span>Cena:</span> 500 €</p>

            <a href="#" class="btn btn-primary">Odpri oglas</a>
            </div>
            </div> *@
    </div>
</div>